mixin navbar(app_name, elements, activePage)
    nav.main-nav.navbar.is-primary
        div.container
            div.navbar-start
                a.navbar-item
                    h1.title.is-5=app_name
                a.navbar-item is-active=Home
                div.navbar-item.has-dropdown.is-hoverable
                    a.navbar-link="Mods"
                    each item in elements
                        - var i = activePage == item.name ? 'navbar-item is-active': 'navbar-item' 
                        a(class=i, href=item.href)=item.name
